<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <title>search</title>
<style>
.bg{
    background: #3f51b5!important;
}
.list-group-item.active{
  background: #3f51b5!important;
  border-color: #3f51b5!important;
}
.w3-lobster {
  font-family: "Lobster", serif;
}
</style>

  </head>
  <body>
  {% for image in allImages %}
  {% endfor %}

  {% include 'navbar.html' %}
  



<div class="container-fluid">
<!--main code-->

<div class="row mt-3">

  <div class="col-md-2 mt-5">
<!--Categories-->


<div class="list-group ">
  <a href="/home" class="list-group-item list-group-item-action active">
    All Images
  </a>
  {% for c in cats %}

  <a href="/category/{{c.pk}}" class="list-group-item list-group-item-action">{{c.title}}</a>

  {% endfor %}
</div>



</div>
    <div class="col-md-10 mt-5">
<!--Images-->
        <div class="row">
        <div class="col-md-12">
        <div class="card-columns">

        {% for i in images %}

          <div class="card" >
            <img src="/media/{{i.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                 <h5 class="card-title">{{i.title}}</h5>
                 <p class="card-text">{{i.description}}</p>
                 <a href="#" class="btn btn-primary" onclick="showModalwithImage('{{i.image}}')">View</a>
                </div>
          </div>


        {% endfor %}




        </div>



        </div>
        </div>




    </div>
</div>
</div>
<!-- Modal -->
<div class="modal" id="image-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w3-lobster" id="exampleModalLabel">MyImagesCollection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img src="#!" id="image-show" class="img-fluid" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>

</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        
        function showModalwithImage(imageUrl)
        {
           $('#image-modal').modal('show')
           $("#image-show").attr('src',`/media/${imageUrl}`)
        }
    </script>
<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1 text-white">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-primary btn-rounded">Sign up!</a>
      </li>
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-white py-3">© 2020 Copyright:
    <a href="#"> MyImagesCollection.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  </body>
</html>